[Unit]
Description=tcp-over-bt

# On Ubuntu, it changed? first it's sshd, it's now ssh.
#Requires=sshd.service
#After=sshd.service

[Service]
ExecStart=/usr/local/bin/tcp-over-bt
Restart=on-failure

[Install]
WantedBy=multi-user.target
